<%- include('../layout/top-nav') -%>

<div id="layoutSidenav">
    <%- include('../layout/side-nav') -%>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Dashboard</h1>
                <div class="mb-4 row">
                    <div class="col-12 ">
                        <button type="submit" class="btn btn-primary float-right">UPLOAD DOCUMENT</button>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">Visit Compliance</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="#">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">Fixture Compliance</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="#">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">POG Compliance</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="#">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">POD Compliance</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="#">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">POP Compliance</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="#">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">In-Stock Compliance</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="#">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">Activation know-how</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="#">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">Promotion Awareness</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="#">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card text-center">
                            <h5 class="card-header">Complaint Handling</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer bg-white">
                                <a href="#">SEE DETAILS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; BLACKHAWK NETWORK 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<%- include('../layout/footer') -%>