<%- include('../layout/header') -%>
<body class="bg-auth">
    <div id="layoutAuthentication" class="d-flex align-items-center justify-content-center">
        <div id="layoutAuthentication_content" class="d-flex align-items-center justify-content-center"s>
            <main>
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-10">
                            <div class="card shadow-lg border-0 rounded-lg">
                                <div class="card-header">
                                    <div class="d-flex justify-content-center">
                                        <img src="/images/logo.png" class="w-50 mt-4">
                                    </div>
                                    <h3 class="text-center font-weight-normal my-4">
                                        Sign In to Admin
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <form method="POST" action="/process/login">
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputEmailAddress">Email</label>
                                            <input class="form-control py-4" name="inputEmailAddress" id="inputEmailAddress" type="email" placeholder="Enter email address" />
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputPassword">Password</label>
                                            <input class="form-control py-4" name="inputPassword" id="inputPassword" type="password" placeholder="Enter password" />
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" name="rememberPasswordCheck" id="rememberPasswordCheck" type="checkbox" /><label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex justify-content-center">
                                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <% 
        if (messages.length > 0) {
            if (messages[0] === "nonAdmin") {
    %>           
                <script type='text/javascript'>
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'You dont Have Permission!',
                    })
                </script>
            <% } else if (messages[0] === "nonRegistered") { %> 
                <script type='text/javascript'>
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Your Email or Password Incorrect!',
                    })
                </script>
    <%
            }
        }
    %>
    

<%- include('../layout/footer') -%>