<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light bg-white shadow" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Filter</div>
                <div class="nav-link d-block pb-0">
                    <div class="form-group">
                        <label class="normal">Month</label>
                        <select class="form-control">
                            <option>January</option>
                            <option>February</option>
                            <option>March</option>
                            <option>April</option>
                            <option>May</option>
                            <option>June</option>
                            <option>July</option>
                            <option>August</option>
                            <option>September</option>
                            <option>October</option>
                            <option>November</option>
                            <option>Desember</option>
                        </select>
                    </div>
                </div>
                <div class="nav-link d-block pb-0">
                    <div class="form-group">
                        <label class="normal">Brand</label>
                        <select class="form-control">
                            <option>Google</option>
                            <option>Spotify</option>
                        </select>
                    </div>
                </div>
                <div class="nav-link d-block pb-0">
                    <div class="form-group">
                        <label class="normal">Fixture Type</label>
                        <select class="form-control">
                            <option>IDM</option>
                            <option>SAT</option>
                        </select>
                    </div>
                </div>
                <div class="nav-link d-block pb-0">
                    <div class="form-group">
                        <label class="normal">Store</label>
                        <select class="form-control">
                            <option>IDM - TINUMBU (T02T)</option>
                            <option>SAT - TINUMBU RAYA (R419)</option>
                            <option>SAT - ANDALAS (R063)</option>
                            <option>IDM - ANDALAS (TKJG)</option>
                            <option>SAT - MUHAMMDIYAH (R067)</option>
                            <option>SAT - TENTARA PELAJAR (R054)</option>
                        </select>
                    </div>
                </div>
                <div class="nav-link d-block pb-0">
                    <div class="form-group">
                        <label class="normal">DC</label>
                        <select class="form-control">
                            <option>1JZ1 - KARAWANG</option>
                            <option>1MZ1 - PARUNG</option>
                            <option>BALARAJA</option>
                            <option>BANDUNG</option>
                            <option>BEKASI</option>
                        </select>
                    </div>
                </div>
                <div class="nav-link d-block pb-0">
                    <div class="form-group">
                        <label class="normal">Supervisor</label>
                        <select class="form-control">
                        </select>
                    </div>
                </div>
                <div class="nav-link d-block pb-0">
                    <div class="form-group">
                        <label class="normal">MD ID</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                </div>
                <div class="nav-link d-block pb-0">
                    <div class="row">
                        <div class="mb-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <button type="button" class="btn btn-secondary btn-block">Clear</button>
                        </div>
                        <div class="mb-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <button type="submit" class="btn btn-primary btn-block">Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>