<%- include('../layout/header') -%>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-light bg-white shadow">
        <a class="navbar-brand " href="/admin">
            <img src="/images/logo.png" class="logo-admin">
        </a>
        <% if (titlePage === "Dashboard" || titlePage === "Gallery") { %>
        <button class="btn btn-link btn-sm" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <% } %>
        <ul class="navbar-nav ml-auto md-0 d-none d-md-flex d-lg-flex d-xl-flex">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-chart-pie"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/report">
                    <i class="fas fa-file-alt"></i>
                    <span>Report</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/gallery">
                    <i class="fas fa-images"></i>
                    <span>Gallery</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/md">
                    <i class="fas fa-users"></i>
                    <span>MD</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
        <% if (titlePage === "Dashboard" || titlePage === "Gallery") { %>
        <ul class="navbar-nav ml-auto ml-md-0 d-flex d-md-none d-lg-none d-xl-none">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>Menu</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/admin">
                        Dashboard
                    </a>
                    <a class="dropdown-item" href="/admin/report">
                        Report
                    </a>
                    <a class="dropdown-item" href="/admin/gallery">
                        Gallery
                    </a>
                    <a class="dropdown-item" href="/admin/md">
                        MD
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">
                        Logout
                    </a>
                </div>
            </li>
        </ul>
        <% } %>
    </nav>

